:root{
    --app-border-radius : 0;
    --app-border : .5px solid #D3D5E4;
    --app-layout-test : gray;
    --app-profile-pic-size : 70px;
    --app-accent-color : #4E78FE;
    --app-font-family : 'Poppins';
    --app-default-font-weight : 300;
    --app-primary-font-size : 1em;

    --app-secondary-font-weight : 500;
    --app-secondary-font-size : 11px;
    --app-secondary-font-opacity : 50%;

    --app-optional-font-size : 1em;
    
    --app-small-font-size : 10px;
    --app-small-font-weight : 500;
    --app-small-font-opacity : 30%;

    --app-active-background : #F1F2F7;
    --app-inactive-background : #FFFFFF;
    
    --opacity-level  : 100%;
    
    --app-profile-pic-size-optional : 2.3em;
    --app-animation-transition : .4s;
    
    --app-icon-wrapper-size : 2em;
    --app-icon-size-primary : 2em;
    --app-icon-size-secondary : 1.2em;
    --app-icon-size-medium : 2.7em;
    --app-icon-wrapper-size-medium : 3em;
    --app-icon-skew : 40deg;

    --app-task-category-color-marketing : #B86EF4; 
    --app-border-none : none;

    --app-button-primary : #4E78FE;

    --app-scrollbar-width : 5px;
    --app-scrollbar-track-color : #f1f1f1;
    --app-scrollbar-thumb-hover : #555;
    --app-scrollbar-thumb-color : #888;
    --app-scrollbar-border-radius : 10px;
    
    --app-optional-font-size : 13px; 
    --app-comment-box-size : 4em;
}

*{
    border: none !important;
    font-family: var(--app-font-family);
    font-weight: var(--app-default-font-weight);
    border-radius: var(--app-border-radius);
    transition: var(--app-animation-transition);
}
.test{
    background-color: var(--app-layout-test);
}
.btn-comment-box{
    height: var(--app-comment-box-size) ;
    width: var(--app-comment-box-size);
}

.component-border{
    border: var(--app-border) !important;
    border-radius: var(--app-border-radius) !important;
}

.optional-font{
    font-size: var(--app-optional-font-size);
}

.user-profile-pic{
    height: var(--app-profile-pic-size);
    width: var(--app-profile-pic-size);
    object-fit: cover;
}
.user-profile-pic-size{
    height: var(--app-profile-pic-size-optional);
    width: var(--app-profile-pic-size-optional);
}

.primary-text{
    font-weight: var(--app-secondary-font-weight);
    font-size: var(--app-primary-font-size);
    letter-spacing: 1px;
}
.secondary-text{
    font-weight: var(--app-secondary-font-weight);
    font-size: var(--app-secondary-font-size);
    opacity: var(--app-secondary-font-opacity);
}

.small-text{
    font-size: var(--app-small-font-size);
    font-weight: var(--app-small-font-weight);
    opacity: var(--app-small-font-opacity);
}

.medium-font-size{
    font-size: var(--app-optional-font-size);
}

.icon-wrapper{
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: var(--app-active-background);
    height: var(--app-icon-wrapper-size);
    width: var(--app-icon-wrapper-size);
}

.icon-wrapper-size-medium {
    height: var(--app-icon-wrapper-size-medium);
    width: var(--app-icon-wrapper-size-medium);
}

.icon-size{
    height: var(--app-icon-size-primary);
    width: var(--app-icon-size-primary);
}
.icon-size-medium{
    height: var(--app-icon-size-medium);
    width: var(--app-icon-size-medium);
}

.icon-skew{
    -ms-transform: rotate(var(--app-icon-skew)); /* IE 9 */
    transform: rotate(var(--app-icon-skew));
}

.icon-size-secondary{
    height: var(--app-icon-size-secondary);
    width: var(--app-icon-size-secondary);
}

.progress{
    height: 6px;
}


.op-level-1{
    opacity: calc(var(--opacity-level)+10%);
}
.op-level-2{
    opacity: calc(var(--opacity-level)+20%);
}
.op-level-3{
    opacity: calc(var(--opacity-level)+30%);
}
.op-level-4{
    opacity: calc(var(--opacity-level)+40%);
}
.op-level-5{
    opacity: calc(var(--opacity-level)+50%);
}
.op-level-6{
    opacity: calc(var(--opacity-level)+60%);
}
.op-level-7{
    opacity: calc(var(--opacity-level)+70%);
}
.op-level-8{
    opacity: calc(var(--opacity-level)+80%);
}
.op-level-9{
    opacity: calc(var(--opacity-level)+90%);
}
.op-level-10{
    opacity: calc(var(--opacity-level));
}


.border-top{
    border-top: var(--app-border) !important;
}
.border-right{
    border-right: var(--app-border) !important;
}
.border-bottom{
    border-bottom: var(--app-border) !important;
}
.border-left{
    border-left: var(--app-border) !important;
}
.border-top-none{
    border-top: var(--app-border-none) !important;
}
.border-right-none{
    border-right: var(--app-border-none) !important;
}
.border-bottom-none{
    border-bottom: var(--app-border-none) !important;
}
.border-left-none{
    border-left: var(--app-border-none) !important;
}

.outline-none{
    outline: none;
}



.card-header, .card-footer{
    background-color: transparent;
}

.task-category-marketing{
    border-left: 5px solid var(--app-task-category-color-marketing) !important;
}

textarea:focus{
    outline: none;
}

.btn-primary{
    background-color: var(--app-active-background);
    border-radius: var(--app-border-radius);
    color: black;
}
.btn-primary:focus {
    box-shadow: none
  }
.btn-primary:hover{
    background-color: #FF5733 !important;
    color: white !important;
}

/* width */
::-webkit-scrollbar {
    width: var(--app-scrollbar-width);
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--app-scrollbar-track-color); 
    border-radius: var(--app-scrollbar-border-radius);
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--app-scrollbar-thumb-color); 
    border-radius: var(--app-scrollbar-border-radius);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--app-scrollbar-thumb-hover); 
  }

.task-item-animation:hover{
    background-color: var(--app-active-background);
    padding-bottom: 1em;
}

.task-item-animation:hover #items{
    margin-top: 2em;
}
.task-item-animation #action-panel{
    display: none;
}
.task-item-animation:hover #action-panel{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
